.light {
  color: white;
}
.smokewhite {
  color: "#f3f3f3";
}
.lggray {
  color: "#eaeaea"
}

.small { 
  font-size: 0.75em
} 

.bitty { 
    font-size: 1.25em;
}

.enlarge { 
    font-size: 1.5em;
}

.fade {
  opacity: 0.66;
}

.large {
  font-size: 120%;
}


.Large {
  font-size: 144%;
}

.big {
  font-size: 2em;
  color: blue;